<app-preloader></app-preloader>


<app-navbar></app-navbar>

<aside class="fixed top-1/2 -translate-y-1/2 right-0 z-50 flex flex-col items-end">
  <a href="https://drive.google.com/file/d/1y8bze3bPvO3hsASIW1n48ldUGel3WApE/view"
    class="bg-vsta-purple text-white p-4 rounded-l-xl shadow-lg mb-2 transform transition-transform hover:scale-105">
    <div class="flex items-center gap-3 [writing-mode:vertical-rl] text-orientation-mixed">
      <!-- أيقونة الملف -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-90" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
      </svg>
      <span class="text-sm tracking-widest">ملفنا التعريفي</span>
    </div>
  </a>
  <a href="https://wa.me/message/Z36J62K7EN3WN1"
    class="bg-vsta-teal text-vsta-dark-blue font-bold p-4 rounded-l-xl shadow-lg transform transition-transform hover:scale-105">
    <div class="flex items-center gap-3 [writing-mode:vertical-rl] text-orientation-mixed">
      <i class="fa-brands fa-whatsapp"></i>
      <span class="text-sm tracking-widest">واتساب</span>
    </div>
  </a>
</aside>

<router-outlet class="bg-[#e8e8e8]"></router-outlet>



<app-contact-section></app-contact-section>


<footer class="bg-vsta-purple text-white">
  <div
    class="container mx-auto px-6 lg:px-8 py-6 flex flex-col md:flex-row justify-between items-center gap-6 md:gap-4">

    <!-- حقوق النشر -->
    <p class="text-sm order-last md:order-first">جميع الحقوق محفوظة</p>

    <!-- أيقونات التواصل الاجتماعي باستخدام Font Awesome -->
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <!-- Instagram -->
      <a href="https://www.instagram.com/vstaxp?igsh=MWJ6eGc2d203NG0zdg==" class="text-white hover:text-vsta-teal transition-colors duration-300">
        <i class="fa-brands fa-instagram text-2xl"></i>
      </a>

      <!-- X (Twitter) -->
      <a href="https://x.com/vstaxp?s=21" class="text-white hover:text-vsta-teal transition-colors duration-300">
        <i class="fa-brands fa-x-twitter text-2xl"></i>
      </a>

      <!-- WhatsApp -->
      <a href="https://wa.me/message/Z36J62K7EN3WN1" class="text-white hover:text-vsta-teal transition-colors duration-300">
        <i class="fa-brands fa-whatsapp text-2xl"></i>
      </a>
    </div>

  </div>
</footer>

<app-lightbox></app-lightbox>