<div class="fixed top-4 left-0 right-0 w-full z-50 px-4">
  <nav [ngClass]="{
    'bg-vsta-dark-blue/80': showBackground(),
    'bg-black/20': !showBackground()
  }"
    class=" py-3 md:py-4 capitalize transition-colors duration-500 max-w-screen-xl mx-auto rounded-full backdrop-blur-md border border-white/10">

    <div class=" flex items-center justify-between mx-auto px-4 sm:px-6">

      <div class= "direction-rtl hidden md:flex w-full items-center justify-between">

        <ul class="flex  text-white font-medium space-x-8 rtl:space-x-reverse">
          <li>
            <a (click)="closeMobileMenuOnClick()" routerLink="/" [class.active-link]="activeSectionId() === ''"
              class="block py-2 whitespace-nowrap text-lg transition-colors me-8 duration-300">الرئيسية</a>
          </li>
          <li>
            <a (click)="closeMobileMenuOnClick()" routerLink="/about" routerLinkActive="active-link"
              class="block py-2 whitespace-nowrap text-lg transition-colors duration-300">من نحن</a>
          </li>
          <li>
            <a (click)="closeMobileMenuOnClick()" routerLink="/" fragment="services"
              [class.active-link]="activeSectionId() === 'services'"
              class="block py-2 whitespace-nowrap text-lg transition-colors duration-300">أعمالنا</a>
          </li>
          <li>
            <a (click)="closeMobileMenuOnClick()" routerLink="/" fragment="contact"
              [class.active-link]="activeSectionId() === 'contact'"
              class="block py-2 whitespace-nowrap text-lg transition-colors duration-300">تواصل معنا</a>
          </li>
        </ul>
        <!-- المجموعة اليسرى للشعار -->
        <a routerLink="/" class="w-28 flex-shrink-0">
          <img src="/images/شعار فستا نهائي - 3.webp" alt="Vsta Logo" class="w-full">
        </a>
      </div>

      <div class="flex md:hidden w-full items-center justify-between">
        <a routerLink="/" class="w-24">
          <img src="/images/شعار فستا نهائي - 3.webp" alt="Vsta Logo" class="w-full">
        </a>
        <button #mobileMenuButton data-collapse-toggle="navbar-vsta-mobile" type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg hover:bg-white/10 focus:outline-none focus:ring-2 focus:ring-vsta-teal"
          aria-controls="navbar-vsta-mobile" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
      </div>
    </div>
  </nav>

  <div #mobileMenu class="hidden w-full md:hidden mt-4" id="navbar-vsta-mobile">
    <ul
      class="flex flex-col md:hidden text-white font-medium p-4 mt-4 border border-white/20 rounded-lg bg-vsta-purple text-end space-y-4">
      <li>
        <a (click)="closeMobileMenuOnClick()" routerLink="/" [class.active-link]="activeSectionId() === ''"
          class="block py-2 rounded text-lg transition-colors duration-300 hover:text-vsta-teal">
          الرئيسية
        </a>
      </li>
      <li>
        <a (click)="closeMobileMenuOnClick()" routerLink="/about" [class.active-link]="activeSectionId() === 'about'"
          class="block py-2 rounded text-lg transition-colors duration-300 hover:text-vsta-teal">
          من نحن
        </a>
      </li>
      <li>
        <a (click)="closeMobileMenuOnClick()" routerLink="/" fragment="services"
          [class.active-link]="activeSectionId() === 'services'"
          class="block py-2 rounded text-lg transition-colors duration-300 hover:text-vsta-teal">
          أعمالنا
        </a>
      </li>
      <li>
        <a (click)="closeMobileMenuOnClick()" routerLink="/" fragment="contact"
          [class.active-link]="activeSectionId() === 'contact'"
          class="block py-2 rounded text-lg transition-colors duration-300 hover:text-vsta-teal">
          تواصل معنا
        </a>
      </li>
    </ul>
  </div>
</div>